<h2>Info</h2>
<p>Shortandbadstories.net is a bad site where &lt;grabbN&gt; can upload their meaningless stories. Please don't share anything funny. Your IP will not be logged on my machine. All uploads are anonymous. Have fun...or not...who cares.</p>
<p>This webzone was developed using <a href="http://www.sinatrarb.com/">Sinatra</a>.</p>
<p><span class="midget">Take a look at the <a href="">source code</a>.</span></p>
