<h2>Upload a story</h2>
<p>Just...don't make it funny...or long.</p>
<form id="sharing_form" action="/process_share" method="post">
    <script type="text/javascript" src="/res/upload_script"></script>
    <p><input type="text" class="share-page input" name="title" placeholder="title" autofocus></p>
    <p><textarea name="text" class="share-page" cols="30" rows="10" placeholder="Lorem ipsum..."></textarea></p>
    <p><input type="submit" class="share-page button" value="Waste others' time"></p>
</form>
